doctype html
html
	head
		title Iniciar sesion
	body
		h1 Iniciar sesion
		hr
		br 
		p Usuario
		input(type="text" name="usuario")
		br
		p Contraseña:
		input(type="password" name="contraseña")
		br
		input(type="submit", value="Enviar")
		hr
		a(href="#") Olvide mi contraseña