doctype html
html(lang='es')  
   head
      title Proyectos
      meta(charset="utf-8")
      link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
   body
      nav(class="navbar navbar-default")
         div(class="navbar-header")
            h2(class="h2") Product Backlog
      h1(class="h1") Nombre del proyecto
      div(class="row")
         div(class="col-lg-4 well")
            div(class="row")
               div(class="col-lg-4")
                  h4 Narrativa de la Historia
               p(class="col-lg-offset-9") Prioridad
            div(class="row")
               div(class="col-lg-4")
                  h5 Como
               p(class="col-lg-offset-9") Tamaño 
            div(class="row")
               div(class="col-lg-4")
                  h5 Quiero
            div(class="row")
               div(class="col-lg-4")
                  h5 De tal manera
               button(type="button" class="btn btn-success col-lg-offset-8") Ver reverso
         div(class="col-lg-4 well")
            div(class="row")
               div(class="col-lg-4")
                  h4 Narrativa de la Historia
               p(class="col-lg-offset-9") Prioridad
            div(class="row")
               div(class="col-lg-4")
                  h5 Como
               p(class="col-lg-offset-9") Tamaño 
            div(class="row")
               div(class="col-lg-4")
                  h5 Quiero
            div(class="row")
               div(class="col-lg-4")
                  h5 De tal manera
               button(type="button" class="btn btn-success col-lg-offset-8") Ver reverso
         div(class="col-lg-4 well")
            div(class="row")
               div(class="col-lg-4")
                  h4 Narrativa de la Historia
               p(class="col-lg-offset-9") Prioridad
            div(class="row")
               div(class="col-lg-4")
                  h5 Como
               p(class="col-lg-offset-9") Tamaño 
            div(class="row")
               div(class="col-lg-4")
                  h5 Quiero
            div(class="row")
               div(class="col-lg-4")
                  h5 De tal manera
            button(type="button" class="btn btn-success col-lg-offset-8") Ver reverso
               
            