doctype html
html(lang='es')  
   head
      title Proyectos
      meta(charset="utf-8")
      link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
   body
      nav(class="navbar navbar-default")
         div(class="navbar-header")
            h2(class="h2") Proyectos de la compañia
      div(class="row")
         div(class="panel panel-info col-lg-4")
            h3(class="h3 panel-title") Proyecto B&B
            div(class="panel-body")
               p Nombre del Proyecto: 
               p Fecha de Solicitud:
               p Fecha de Arranque:
               p Descripcion del Proyecto:
               p Scrum Master:
               p Product Owner:
               p Equipo de Desarrollo:
               button(type="button" class="btn btn-info") Product Backlog
               button(type="button" class="btn btn-success") Burndown Chart
         div(class="panel panel-info col-lg-4")
            h3(class="h3 panel-title") Proyecto X
            div(class="panel-body")
               p Nombre del Proyecto: 
               p Fecha de Solicitud:
               p Fecha de Arranque:
               p Descripcion del Proyecto:
               p Scrum Master:
               p Product Owner:
               p Equipo de Desarrollo:
               button(type="button" class="btn btn-info") Product Backlog
               button(type="button" class="btn btn-success") Burndown Chart
         div(class="panel panel-info col-lg-4")
            h3(class="h3 panel-title") Proyecto Z
            div(class="panel-body")
               p Nombre del Proyecto: 
               p Fecha de Solicitud:
               p Fecha de Arranque:
               p Descripcion del Proyecto:
               p Scrum Master:
               p Product Owner:
               p Equipo de Desarrollo:
               button(type="button" class="btn btn-info") Product Backlog
               button(type="button" class="btn btn-success") Burndown Chart