doctype html
html
	head
		title Iniciar sesion
	body
		h1 Registrarse
		br
		form(id="signup", method="POST", action="/")
			div Nombre:
			input(type="text", name="nombre")
			div Email:
			input(type="text", name="email")
			div Contraseña:
			input(type="password", name="contraseña")
			div Usuario:
			input(type="text", name="usuario")